/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("./../images/bgtile.png");
  background-repeat: repeat-x ;
}

#phone {
  height: 30rem;
  margin: 0 2rem;
}

#login {
  display: flex;
  justify-content: space-between;
  width: 6rem;
  background-color: #1c5380;
  padding: 0.5rem;
  box-shadow: 2px 2px 5px #06365f;
  border-radius: 0.2rem;
  font-weight: bolder;
}
#login a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

#login:hover {
  background-color: #88b5da;
}

#main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px;

  /* border: 1px solid red; */

}

#information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40rem;
  /* border: 1px solid blue; */

}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem;
}

#text-container {
  background-image: url("./../images/frame.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 1rem;
  /* border: 1px solid red; */
}

.text-box{
  padding: 1rem;
}
.text-box>h1{
  padding-bottom: 1rem;
  color: #357;
}
.text-box>p{
  padding-bottom: 0.8rem;
}

#stores-btn {
  padding: 1.5rem 0;
}

footer {
  display: flex;
  justify-content: center;
  
}

footer div a {
  margin: 10px;
  text-decoration: none;
  color: #1c5380;
  font-weight: bolder;
  
}

.footer-items {
  margin: 10px;
}

#footer-links {
  display: flex;
  
}

@media (max-width: 760px) {

  body {
    margin: 0;
    padding: 0;
  }
  #insta-logo>img{
    width: 50vw;
    margin-top: 0.5rem;
  }
  #login{
    width: 6rem;
  }

  #main-box {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding: 0;
  }

  #information {
    margin: 0;
    width: 100vw;
    
  }
  #text-container{
    background-size: 100% 120%;
    padding-bottom: 0;
  }
  .title {
    font-size: 1.5rem;
  }

  #phone{
    height: 40vh;
    margin-bottom: 1.5rem;

  }

  .footer-items {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-items>a {
    width: 4rem;
    padding: 0;
    margin: 0.3rem;
  }


  footer {
    border-top: 1px solid #06365f;
    align-self: center;
    width: 80vw;
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
  }
  
}


